
<div class="container mt-5" style="width: 600px;margin-left: auto;margin-right: auto;">
  <div class=" pt-3 pb-2 mb-3">
    <h1 class="h2">Search by Student name</h1>
    
  </div>
  <div class="search">
    <input type="text" (keydown)="KeyDown($event)" [(ngModel)]="studentName" 
    [matAutocomplete]="autoStudent"
    name="CourseId"  class="searchTerm" placeholder="Student Name or roll number">
    <button type="submit"  class="searchButton" >
      Search
    </button>
</div>
</div>



    <div>
                    
        <mat-autocomplete #autoStudent="matAutocomplete">
          <mat-option *ngFor="let student of filteredStudents "
          (click) ="MatOptionClicked(student)"
          [value]="student.rollNo">
            <span>
                <img src="{{student.image}}" alt="{{student.rollNo}}" style="height: 64px;width: 64px;">
            </span>
            <span>{{ student.name }}</span> |
            <span>{{student.rollNo}}</span>
          </mat-option>
        </mat-autocomplete>
</div>

